1. Write a lambda function to rearrange positive and negative numbers in a given list
Sample output:
original_list = [-1,2,-3,4,-5,6,-7,8,-9,10,-11,12] resulting_list = [2,4,6,8,10,12,-11,-9,-7,-5,-3,-1]

In [33]:
original_list = [-1,2,-3,4,-5,6,-7,8,-9,10,-11,12]
#original_list.sort()
#original_list

In [35]:
resulting_list = list(filter(lambda x: x>0, original_list)) + list(filter(lambda x: x<0, original_list))
resulting_list

[2, 4, 6, 8, 10, 12, -1, -3, -5, -7, -9, -11]

In [58]:
import time
from timer import timer

t0 = time.time()

# Do something
resulting_list = list(filter(lambda x: x>0, original_list)) + list(filter(lambda x: x<0, original_list))

t1 = time.time()

total = t1-t0
total

0.0012209415435791016

2. Create a new dataframe using week_11/temperatures/temperature.csv file from last class. It should have the datetime column and one of the cities. Create a new boolean column called is_freezing that indicates if the temperature is at or below freezing. Use a lambda to create this column. Is there a better way to do this than with a lambda?

In [62]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

#modules for statistics
import math
import statistics
from scipy import stats


temperature_df = pd.read_csv("temperature copy 2.csv", parse_dates=True, index_col='datetime') 
df_V=temperature_df[["Vancouver"]]
df_V

                      Vancouver
datetime
2012-10-01 12:00:00         NaN
2012-10-01 13:00:00  284.630000
2012-10-01 14:00:00  284.629041
2012-10-01 15:00:00  284.626998
2012-10-01 16:00:00  284.624955
...                         ...
2017-11-29 20:00:00         NaN
2017-11-29 21:00:00         NaN
2017-11-29 22:00:00         NaN
2017-11-29 23:00:00         NaN
2017-11-30 00:00:00         NaN

[45253 rows x 1 columns]

In [61]:
freeze_df = df_V.assign(is_freezing = lambda x: df_V['Vancouver'] <= 273)
freeze_df.head(50)

                      Vancouver  is_freezing
datetime
2012-10-01 12:00:00         NaN        False
2012-10-01 13:00:00  284.630000        False
2012-10-01 14:00:00  284.629041        False
2012-10-01 15:00:00  284.626998        False
2012-10-01 16:00:00  284.624955        False
2012-10-01 17:00:00  284.622911        False
2012-10-01 18:00:00  284.620868        False
2012-10-01 19:00:00  284.618824        False
2012-10-01 20:00:00  284.616781        False
2012-10-01 21:00:00  284.614738        False
2012-10-01 22:00:00  284.612694        False
2012-10-01 23:00:00  284.610651        False
2012-10-02 00:00:00  284.608607        False
2012-10-02 01:00:00  284.606564        False
2012-10-02 02:00:00  284.604521        False
2012-10-02 03:00:00  284.602477        False
2012-10-02 04:00:00  284.600434        False
2012-10-02 05:00:00  284.598390        False
2012-10-02 06:00:00  284.596347        False
2012-10-02 07:00:00  284.594304        False
2012-10-02 08:00:00  284.592260        False
2012-10-02 09:00:00  284.590217        False
2012-10-02 10:00:00  284.588174        False
2012-10-02 11:00:00  284.586130        False
2012-10-02 12:00:00  284.584087        False
2012-10-02 13:00:00  284.582043        False
2012-10-02 14:00:00  284.580000        False
2012-10-02 15:00:00  284.850000        False
2012-10-02 16:00:00  286.260000        False
2012-10-02 17:00:00  286.770000        False
2012-10-02 18:00:00  288.950000        False
2012-10-02 19:00:00  289.510000        False
2012-10-02 20:00:00  289.670000        False
2012-10-02 21:00:00  290.290000        False
2012-10-02 22:00:00  291.090000        False
2012-10-02 23:00:00  291.180000        False
2012-10-03 00:00:00  291.260000        False
2012-10-03 01:00:00  290.620000        False
2012-10-03 02:00:00  288.110000        False
2012-10-03 03:00:00  287.210000        False
2012-10-03 04:00:00  286.600000        False
2012-10-03 05:00:00  285.960000        False
2012-10-03 06:00:00  285.630000        False
2012-10-03 07:00:00  284.710000        False
2012-10-03 08:00:00  284.780000        False
2012-10-03 09:00:00  284.240000        False
2012-10-03 10:00:00  284.170000        False
2012-10-03 11:00:00  283.250000        False
2012-10-03 12:00:00  283.290000        False
2012-10-03 13:00:00  283.350000        False

In [66]:
list_boolean = []
for x in range(len(df_V["Vancouver"])):
    if x <= 273:
        list_boolean.append('False')
    else:
        list_boolean.append('True')

df_V['Boolean'] = list_boolean

df_V

/var/folders/jl/_v7nhy4x6ns_kxmg8nxmzggr0000gn/T/ipykernel_2677/1970730038.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_V['Boolean'] = list_boolean

                      Vancouver Boolean
datetime
2012-10-01 12:00:00         NaN   False
2012-10-01 13:00:00  284.630000   False
2012-10-01 14:00:00  284.629041   False
2012-10-01 15:00:00  284.626998   False
2012-10-01 16:00:00  284.624955   False
...                         ...     ...
2017-11-29 20:00:00         NaN    True
2017-11-29 21:00:00         NaN    True
2017-11-29 22:00:00         NaN    True
2017-11-29 23:00:00         NaN    True
2017-11-30 00:00:00         NaN    True

[45253 rows x 2 columns]

Is there a better way to do this than with a lambda?

In [59]:
import time
from timer import timer

t0 = time.time()

# Do something
freeze_df = df_V.assign(is_freezing = lambda x: df_V['Vancouver'] <= 273)

t1 = time.time()

total = t1-t0
total

0.020812034606933594

In [67]:
t0_a = time.time()

list_boolean = []
for x in range(len(df_V["Vancouver"])):
    if x <= 273:
        list_boolean.append('False')
    else:
        list_boolean.append('True')

df_V['Boolean'] = list_boolean

t1_b = time.time()

total_1 = t1_b - t0_a
total_1

/var/folders/jl/_v7nhy4x6ns_kxmg8nxmzggr0000gn/T/ipykernel_2677/1681442605.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_V['Boolean'] = list_boolean

0.01922297477722168

Based of of the how fast the 2 programs are ran, it seems like the for loop would be more time efficient since it takes less seconds to perform compared to lambda but the diference seems to be miniscule.